@use './reset.scss';
@import './variables.scss';

body {
  color: $body-color;
  background-color: $body-bg-color;
  font-family: 'Press Start 2P', cursive;
}

.frame-num,
.seconds-passed {
  display: flex;
  margin-top: 20px;

  .label {
    margin-right: 20px;
  }
}
